  <div class="row main" id="logform">

    <div class="col-xs-4 col-xs-offset-4">
      <h4>Subscribe</h4>
    </div>


          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
            <%= devise_error_messages! %>

          <div class="col-xs-4 col-xs-offset-4">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>

          <div class="col-xs-4 col-xs-offset-4">
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>

          <div class="col-xs-4 col-xs-offset-4">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <br><br>

          <!--  chose a profile picture-->
          <div class="col-xs-4 col-xs-offset-4">
            <div class="field">
              <br>
              <%= f.file_field :avatar %>
            </div>
          </div>


          <div class="col-xs-4 col-xs-offset-4" id="submit">
            <div class="actions">
              <%= f.submit "Register" %>
            </div>
          </div>
          <% end %>


    </div>
  </div>
