<div class="container">
  <div class="row">

    <!-- This is the currently signed in user's ID: <%= @user_id %>
    <p>
    Here we will display boxes, one for each source!
    </p>
    <p>
    If the user clicks a box, it will create a new row in the Favorite table, using the name of the source ("cnn") and the user's id (current_user.id)
    </p> -->

    <!-- display a list of all user faves -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 card">
      <div class="thumbnail">
        <h4>User's favorites:</h4>
        <hr>
        <ul id="chosen-faves">
          <% @user_favorites.each do |favorite| %>

          <!--  for th delete to work the action has to grab the user_id: and source: from controller -->
          <li class="removable">
            <% @favorites_pick = favorite.source%>
            <%= link_to image_tag(@favorites_pick), {action: :remove_favorite, controller: :users, user_id: @user_id, source: @favorites_pick }, remote: true %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- <p>
    UJS link_to: create a new row in the Favorite table
  </p> -->

  <div class="logos">
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 card">
      <div class="thumbnail">
        <h4> News Source :</h4>
        <hr>
        <ul id="not-chosen-faves">
          <li class="cnn">
            <%= link_to image_tag("//logo.clearbit.com/cnn.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "cnn"}, remote: true %>
          </li>
          <br>
          <li class="cnbc"><%= link_to image_tag("//logo.clearbit.com/cnbc.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "cnbc" }, remote: true %></li>
          <br>

          <li class="buzzfeed"><%= link_to image_tag("//logo.clearbit.com/buzzfeed.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "buzzfeed"}, remote: true %></li>
          <br>

          <li class="techradar"><%= link_to image_tag("//logo.clearbit.com/techradar.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "techradar" }, remote: true %></li>
          <br>
          <li class="techcrunch"><%= link_to image_tag("//logo.clearbit.com/techcrunch.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "techcrunch" }, remote: true %></li>
          <br>
          <li class="bloomberg"><%= link_to image_tag("//logo.clearbit.com/bloomberg.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "bloomberg" }, remote: true %></li>
          <br>
          <li class="national-geographic"><%= link_to image_tag("//logo.clearbit.com/news.nationalgeographic.com"), {action: :add_favorite, controller: :users, user_id: @user_id, source: "national-geographic" }, remote: true %></li>

        </div> <!-- end of thumbnail -->
      </div> <!-- end of col small -->
    </div>  <!-- end of logo-->
  </div>  <!-- end of row -->
</div>
