<br><br>
<div class="col-xs-12 col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
          <center>
            <div class="row">
              <%= @user.email %>
            </div>
          <div class="row">
            <%= image_tag @user.avatar.url(:medium), :class => "img-responsive" %>
          </div>
        </center>
    </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <center>
        <div class="row">

          <!--  has to match the nickname devise generate for you-->
          <%= link_to ("Edit account"), edit_user_registration_path %>

        </div>

        <div class="row">
          <!--  links to edit_user page where delete action is located-->
          <%= link_to ("Delete account"), edit_user_registration_path %>
        </div>

        <div class="row">
          <!--  href links triggers the action to create a new favorite source news-->
          <%= link_to ("Choose Favorites"), choose_favorites_nickname_path %>
        </div>
    </center>
    </div>
  </div>
</div>
