


<hr>
<!--  news search-->

  <%= form_tag("/news", method: "post") do %>
  <%= label_tag(:source, "Search:") %>
  <%= text_field_tag(:source) %>
  <%= submit_tag("Submit", class: "btn") %>
  <% end %>
  <hr>

<%= @source %>




  <% @response['articles'].each do |response| %>
    <%= response["title"] %>
    <%= response["description"] %></p>
    <% @image = response["urlToImage"] %>
    <%= image_tag(@image)%>

  <% end %>
